version: 0.0.{build}

image:
  - Visual Studio 2019

shallow_clone: true

init:
  - ps: if ($env:APPVEYOR_REPO_TAG_NAME) { Update-AppveyorBuild -Version $env:APPVEYOR_REPO_TAG_NAME.Substring(1) }

platform:
  - Any CPU

configuration:
  - Release

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: "{version}"
  package_version: "{version}"
  assembly_version: "{version}"
  file_version: "{version}"
  informational_version: "{version}"

before_build:
  - ps: Vsxmd\Test.ps1 -Prepare

build_script:
  - dotnet publish /p:PublishSingleFile=true /p:PublishTrimmed=true --runtime linux-x64
  - dotnet publish /p:PublishSingleFile=true /p:PublishTrimmed=true --runtime osx-x64
  - dotnet publish /p:PublishSingleFile=true /p:PublishTrimmed=true --runtime win-x64
  - dotnet publish /p:PublishSingleFile=true /p:PublishTrimmed=true --runtime win-x86

test_script:
  - ps: Vsxmd\Test.ps1 -Run

after_test:
  - 7z a -r Vsxmd\obj\Vsxmd.zip Vsxmd\bin\Release
  - dotnet pack Vsxmd --no-restore --no-build

artifacts:
  - path: 'Vsxmd\obj\Vsxmd.zip'
  - path: 'Vsxmd\**\*.nupkg'
